---
layout: default
title: Home
logo: assets/images/logos1.png
cover: assets/images/blogcapa4.png
about: 'about.html'
---

<header class="main-header post-head" style="text-decoration: none; background-image: url({{ page.cover }})">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Inscreva-se</a>
    </nav>
    
    <div class="vertical">
        <div class="main-header-content inner"><br>
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 style="text-decoration: none;" class="page-description"><br>
                <span style="border: 1px solid rgba(0,0,0,0.4); background: rgba(0,0,0,0.3); border-radius: 2px; text-transform: uppercase; font-weight: bold; font-size: 1.3rem; padding: 8px 20px; text-decoration: none; letter-spacing: 1px; overflow: hidden;" id="titulo"></span><br>
            </h2>
            
            <h2 class="page-description"><br><br>
                {% if page.about %} 
                <div>
            <a style='z-index: 999; left: 0; position: absolute; overflow: hidden; background: #fff; color: #555; padding: 8px 20px; font-family: Open Sans; font-size: 1.3rem;' href='{{ site.baseurl }}{{ page.about }}'>Sobre mim</a>
                </div> {% endif %}
            </h2>
     
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Desça a página</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'em ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
