---
layout: default
title: Home
logo: https://envolte.github.io/assets/images/logoev.png
cover: https://envolte.github.io/assets/images/blogcapa8.png
about: 'about.html'
---

<!-- blogcapa4.png -->


<nav id="principal">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}

    <ul>
        <li><a href="https://envolte.github.io/">Home Page</a></li>
        <li class="mob"><a href="https://envolte.github.io/about.html">Sobre</a></li>
        <li><a href="https://envolte.github.io/contato/">Contato</a></li>
        <li><a href="https://envolte.github.io/cursos/">Cursos</a></li>
        <li class="mob"><a href="https://envolte.github.io/faq/">FAQ</a></li>
        <li class="mob"><a href="">Canal no Youtube</a></li>
    </ul>

        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Feed</a>
    </nav>
</nav>

<header class="main-header" style="text-decoration: none; background-image: url({{ page.cover }})">
    
    <div class="vertical">
        <div class="main-header-content inner"><br>
            <h1 class="page-title" style="text-decoration: 1px 2px 3px rgba(0,0,0,0.8);">{{ site.name }}</h1>
      
                <div id="titulo">o melhor professor é aquele que te faz aprender de verdade ;)</div><br>
     
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Desça a página</span></a>
</header>

<div id="insc"><!-- Seção de inscriçao -->
<section style="width: 70%; margin: 0px auto;">
    <p align="left">Quer aprender sobre programação?</p>  <p align="right"><a href="https://envolte.github.io/cursos/" target="_blank"><button>Inscreva-se em um curso!</button></a></p>
</section>
</div>

<div id="curtir"><!-- Curtir página -->
    <iframe class="buttao" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fenvolte&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>

<main id="content" class="content" role="main">

	
	<div id="adresponsivo">
        <div style="margin: 0px auto 60px;">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsivo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1626247707199612"
     data-ad-slot="6102127706"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
	</div>
	
</main>

<section id="alin">
    <main style="width: 70%; margin: 0px auto;">
    <div class="titlep"><span class="ico" style="background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_search_black_48dp.png');"></span> Faça uma busca</div>
    {% include busca.html %}
</main>
</section>


<div style="border-bottom: 1px solid #ddd; width: 100%; height: 1px; margin: 25px 0px -10px;"></div>
	
<!-- Aqui começam os cursos -->

	<section id="alin" style="display: inline-block; height: auto; padding: 50px 0px 50px; background-image: url('/assets/images/fundocursos.png'); background-position: center center; background-size: 100%;
    ">
	<main style="width: 70%; margin: 0px auto 0px;">
	<div class="titlep"><span class="ico" style="background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_code_black_48dp.png');"></span> Cursos <a href="https://envolte.github.io/cursos/todos/" style="margin: 0px 0px 3px 5px; font-weight: normal; font-size: 0.4em; font-family: Open Sans; text-transform: uppercase; color: #333;">Últimas atualizações &raquo;</a></div>
	<ul id="curso" data-masonry>

  {% for curso in site.cursos reversed limit:6 offset: 0 %}

    <li>

  {% if curso.categories contains "PHP" %}

  <div class="fotocurso" style="background-image: url({{ site.url  }}/assets/images/php.png);"></div>

  {% endif %}

  {% if curso.categories contains "HTMLCSS" %}

  <div class="fotocurso" style="background-image: url({{ site.url  }}/assets/images/csshtml.png);"></div>

  {% endif %}
    <div class="entry">
      <a href="{{ curso.url }}">{{ curso.title }}</a>
	    <p>{{ curso.subtitulo }}</p>
    </div>
    </li>
  {% endfor %}

    </ul>
		</main>
	</section>
	
<br>
<div style="border-bottom: 1px solid #ddd; width: 100%; height: 1px; margin: -10px 0px 50px;"></div>


<!-- Aqui começa o BLOG -->

<span id="blog"></span>

    <section id="alin" style="margin-bottom: 0px;">
	<main style="width: 70%; margin: 0px auto 0px;">
	<div class="titlep" style="margin-bottom: -30px;"><span class="ico" style="background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_chrome_reader_mode_black_48dp.png');"></span> Blog <a href="#" style="margin: 0px 0px 3px 5px; font-size: 0.4em; color: #333; font-family: Open Sans; font-weight: normal; text-transform: uppercase;">Posts recentes &raquo;</a></div>
	</main>
		
		</section>
		
		

	
    {% for post in paginator.posts limit:2 %}

<main id="content" class="content" role="main">

    <article class="post">
	    
	    
	    
        <header class="post-header">
         <a href="{{ post.url }}">
            {% if post.categories contains "Javascript" %}

               <div class="destaque-java"

            {% elsif post.categories contains "Ajuda" %}

               <div class="destaque-ajuda"

            {% elsif post.categories contains "PHP" %}

               <div class="destaque-php"

            {% elsif post.categories contains "HTML" %}

               <div class="destaque-html"

            {% elsif post.categories contains "JQuery" %}

               <div class="destaque-jquery"

            {% else %}
    
               <div class="destaque"

            {% endif %}


            style="
            {% if post.capa.size > 0 && post.capaindex.size > 0 %}

                background-image: url({{ post.capaindex }});

            {% else %}

                background-image: url(https://envolte.github.io/assets/images/blogcapa8.png);

            {% endif %}
            "></div>
        </a>

            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.content | strip_html | truncatewords:45 }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'em ' }} 
            {% endif %}
            
            {% if post.categories contains "Javascript" %}

                <span class="cate-javascript">

            {% elsif post.categories contains "Ajuda" %}

                <span class="cate-ajuda">

            {% elsif post.categories contains "PHP" %}

                <span class="cate-php">

            {% elsif post.categories contains "HTML" %}

                <span class="cate-html">

            {% elsif post.categories contains "JQuery" %}

                <span class="cate-jquery">

            {% else %}
    
                <span class="cate">

            {% endif %}


                    <a  style="color: #fff;" href="https://envolve.github.io/contato/">Opine</a></span>
            
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
                
              
                
                
                
            </time> 
        </footer>
    </article>

    {% endfor %}
	
	
	
	
	<div id="adresponsivo">
       <div style="margin: 0px auto -40px;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsivo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1626247707199612"
     data-ad-slot="6102127706"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
    </div>
	<div class="linecircle"></div>
	
	
	
	{% for post in paginator.posts offset:2 limit:2 %}
	
	<article class="post">
	    
	    
	    
        <header class="post-header">
        <a href="{{ post.url }}">

            {% if post.categories contains "Javascript" %}

               <div class="destaque-java"

            {% elsif post.categories contains "Ajuda" %}

               <div class="destaque-ajuda"

            {% elsif post.categories contains "PHP" %}

               <div class="destaque-php"

            {% elsif post.categories contains "HTML" %}

               <div class="destaque-html"

            {% elsif post.categories contains "JQuery" %}

               <div class="destaque-jquery"

            {% else %}
    
               <div class="destaque"

            {% endif %}




                style="

           {% if post.capa.size > 0 && post.capaindex.size > 0 %}

                background-image: url({{ post.capaindex }});

            {% else %}

                background-image: url(https://envolte.github.io/assets/images/blogcapa8.png);

            {% endif %}
            "></div>
        </a>

            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.content | strip_html | truncatewords:45 }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'em ' }} 
            {% endif %}
            
                

            {% if post.categories contains "Javascript" %}

                <span class="cate-javascript">

            {% elsif post.categories contains "Ajuda" %}

                <span class="cate-ajuda">

            {% elsif post.categories contains "PHP" %}

                <span class="cate-php">

            {% elsif post.categories contains "HTML" %}

                <span class="cate-html">

            {% elsif post.categories contains "JQuery" %}

                <span class="cate-jquery">

            {% else %}
    
                <span class="cate">

            {% endif %}


                    <a  style="color: #fff;" href="https://envolve.github.io/contato/">Opine</a></span>

            
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
                
              
                
                
                
            </time> 
        </footer>
    </article>
	
	{% endfor %}

      {% include pagination.html %}
	

</main>
