---
layout: default
title: Cursos
about: 'about.html'
---

<nav id="principal">
    <nav class="main-nav overlay clearfix">
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="https://envolte.github.io/assets/images/logoev.png" alt="Blog Logo" />
                </a>

    <ul>
        <li><a href="https://envolte.github.io/">Home Page</a></li>
        <li class="mob"><a href="https://envolte.github.io/about.html">Sobre</a></li>
        <li><a href="https://envolte.github.io/contato/">Contato</a></li>
        <li><a href="https://envolte.github.io/cursos/">Cursos</a></li>
        <li class="mob"><a href="https://envolte.github.io/faq/">FAQ</a></li>
        <li class="mob"><a href="">Canal no Youtube</a></li>
    </ul>

        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Feed</a>
    </nav>
</nav>

<header class="main-header" style="text-decoration: none; background-image: url(https://envolte.github.io/assets/images/blogcapa8.png)">
    
    <div class="vertical">
        <div class="main-header-content inner"><br>
            <h1 class="page-title" style=" text-decoration: 1px 2px 3px rgba(0,0,0,0.8);">{{ page.title }}</h1>
      
                <div id="titulo" style="width: auto;">Atualizações de todos os cursos</div><br>
     
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Desça a página</span></a>
</header>
<div id="insc">
<section style="width: 70%; margin: 0px auto;">
    <p align="left">Quer aprender sobre programação?</p>  <p align="right"><a href="https://envolte.github.io/cursos/" target="_blank"><button>Inscreva-se em um curso!</button></a></p>
</section>
</div>


<main id="content" class="content" role="main">

  
  <div id="adresponsivo">
        <div style="margin: -20px auto 60px;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsivo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1626247707199612"
     data-ad-slot="6102127706"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
  </div>
  
</main>



<main class="content" id="content" role="main">
	
	
	<section id="alin">
	<main style="width: 70%; margin: 0px auto;">
	<div class="titlep"><span class="ico" style="background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_code_black_48dp.png');"></span> Todos os cursos</div>
	</main>
		
		<main id="content" class="content" role="main">

    {% for curso in site.cursos %}

    <article class="post">
        
        
        
        <header class="post-header">
            <h2 class="post-title"><a href="{{ curso.url }}">{{ curso.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ curso.subtitulo }} <a class="read-more" href="{{ curso.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if curso.categories.size > 0 %} 
                {{ curso.categories | array_to_sentence_string | prepend: 'em ' }} 
            {% endif %}
            
            
            {% if curso.categories contains "Curso" %}
                <span style="text-transform: uppercase; font-size: 11px; padding: 2px 5px; border-radius: 2px; margin-left: 5px; font-weight: bold; background-color: #30687F;"><a  style="color: #fff;" href="https://envolve.github.io/cursos/">ver outros cursos</a></span>
                {% endif %}
            <time class="post-date" datetime="{{ curso.date | date:"%Y-%m-%d" }}">
                {{ curso.date | date_to_string }}
            </time> 
            
        </footer>
    </article>

    {% endfor %}
	</section>

    

    <nav class="pagination" role="pagination">
    {% assign mod_pag = posts_count | modulo:site.mpaginate %}
    {% assign pages_count = posts_count | divided_by:site.mpaginate | plus:mod_pag %}

    {% assign next_pag = page.index | plus:1 %}

    {% assign OFFSET = site.mpaginate | times:page.index %}

    {% if site.mpaginate < pages_count %}

        {% assign last_pag = pages_count | minus: 1 %}

    {% else %}

    {% if OFFSET >= posts_count then %}

        {% assign last_page = page.index %}

    {% endif %}

    {% if page.index == last_pag then %}
        {% assign next_pag = 'none' %}

    {% endif %}


    {% assign filtered_post = site.cursos | where: 'language', page.language %}

    {% for curso in filtered_cursos limit:site.mpaginate offset:OFFSET %}

   <a href="{{ curso.url }}"> {{ curso.title }}</a>

    {% endfor %}
{%endif%}
</nav>

	

</main>
