---
layout: default
logo: https://envolte.github.io/assets/images/logoev.png
cover: https://envolte.github.io/assets/images/blogcapa8.png
archive: false
curso_class: curso-template
---


<nav id="principal">
    <nav class="main-nav overlay clearfix">
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="https://envolte.github.io/assets/images/logoev.png" alt="Blog Logo" />
                </a>

    <ul>
        <li><a href="https://envolte.github.io/">Home Page</a></li>
        <li class="mob"><a href="https://envolte.github.io/about.html">Sobre</a></li>
        <li><a href="https://envolte.github.io/contato/">Contato</a></li>
        <li><a href="https://envolte.github.io/cursos/">Cursos</a></li>
        <li class="mob"><a href="https://envolte.github.io/faq/">FAQ</a></li>
        <li class="mob"><a href="">Canal no Youtube</a></li>
    </ul>

        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Feed</a>
    </nav>
</nav>

<header class="main-header" style="text-decoration: none; background-image: url({{ site.cursophp }})">
    
    <div class="vertical">
        <div class="main-header-content inner"><br>
            <h1 class="page-title" style="font-size: 1.6em; text-decoration: 1px 2px 3px rgba(0,0,0,0.8);">{{ page.title }}</h1>
      
                <div id="titulo" style="width: auto;">Você está vendo um curso</div><br>
     
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Desça a página</span></a>
</header>
<div id="insc">
<section style="width: 70%; margin: 0px auto;">
    <p align="left">Você ainda não é um de meus alunos?</p>  <p align="right"><a href="https://envolte.github.io/cursos/" target="_blank"><button>Inscreva-se agora!</button></a></p>
</section>
</div>


<main id="content" class="content" role="main">

  
  <div id="adresponsivo">
        <div style="margin: -20px auto 60px;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsivo -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1626247707199612"
     data-ad-slot="6102127706"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
  </div>
  
</main>




<main class="content" id="content" role="main">
    
 

    <article class="post">
	    

      {% if page.categories contains "Curso" %}
        
            <section class="post-meta">
            <time datetime="">Se gostou do conteúdo, <b><a href="https://envolte.github.io/contato/">colabore com nosso blog</a></b>!</a></time>

            | <span style="margin-top: -2px;" class="read-time" title="Tempo de leitura">
  <svg id="i-clock" viewBox="0 0 32 32" width="15" height="15" fill="none" stroke="currentcolor" stroke-linecap="round" 
  stroke-linejoin="round" stroke-width="2"><circle cx="16" cy="16" r="14" /><path d="M16 8 L16 16 20 20" /></svg>       

  {% assign words = content | number_of_words %}
  {% if words < 360 %}
    1 minuto de leitura.
  {% else %}
    {{ words | divided_by:180 }} minutos de leitura.
  {% endif %}
</span>
<style>
    svg#i-clock {vertical-align: middle;}
</style>
            </section>
                
      {% else %}
    
            <section class="post-meta">
            <time datetime="">Se gostou do conteúdo, não deixe de <b><a href="#comentarios">comentar</a></b>!</a></time>
            </section>
                
                {% endif %}
                
        <br>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="">Se gostou do conteúdo e quiser contribuir, não esqueça de <b><a class="scroll-down icon-arrow-left" href="#comentarios">comentar</a></b>!</time>
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        Brasil, 19 anos. Quero compartilhar um pouco do meu conhecimento para que as pessoas também sintam desejo de aprender programação. Aos poucos aprendo, aos poucos ensino. Espero ser útil ;)
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            <div id="comentarios" class="comentarios">
                {% include disqus.html %}
            </div>
          


        </footer>

    </article>

</main>

<script id="dsq-count-scr" src="//envolte.disqus.com/count.js" async></script>
