<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.title }} - {{ site.name }} - {{ site.description }}</title>
    <meta name="description" content="{{ site.meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" href="https://envolte.github.io/assets/images/faviconev.png"/>

    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <!-- Customisation  -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
	
	<meta name="google-site-verification" content="VJJXKzVZDMWVMP8Kq5chGEIjnZKUT-HPfTCO3mZNvQk" />
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
      <script type="text/javascript">
$(window).scroll(function() {
    nScrollPosition = $( window ).scrollTop();
    if(nScrollPosition>=400){
         $( "#show" ).fadeIn(1000);
    }else{
         $( "#show" ).fadeOut(1000);
    }
});
	    
$(document).ready(function(){
    $("#show").click(function(){
        $("#aviso").fadeToggle("slow");
    });
});

$(document).ready(function(){
	$("#hide").click(function(){
		$('#aviso').hide();
});
});
   
</script>

</head>
<body class="{% if page.post_class %}{{page.post_class}}{% else %}home-template{% endif %}">

    
<button id="show" title="Clique aqui">Ow!</button>

<div id="aviso">
<button id="hide">X</button>
<h3>Colabre com o blog</h3>
<p>Veja como <a href="https://envolte.github.io/contato.html"><b>contribuir com o conteúdo!</b></a>
</div>

    {{ content }}
	
	
	<section id="about">

   <div id="centre">

       <div id="left">
           <h2><span class="icon" style="background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_chrome_reader_mode_black_48dp.png');"></span> Tutoriais</h2>
               <p>Oferecemos uma série de tutoriais às pessoas quem estão iniciando no desenvolvimento web.</p>
       </div>

       <div id="center">
           <h2><span class="icon" style="background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/action/2x_web/ic_code_black_48dp.png');"></span> Cursos</h2>
               <p>Um dos objetivos do <b>EnVolte</b> é poder oferecer cursos <i>gratuitos</i>. Atualmente, estamos com o <b><a href="https://envolte.github.io/Curso-de-PHP.html">Curso de PHP</a></b> e <b><a href="https://envolte.github.io/Curso-HTML-CSS.html">Curso de HTML & CSS</a></b>.</p>
       </div>

       <div id="right">
           <h2><span class="icon" style="background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/av/2x_web/ic_video_library_black_48dp.png');"></span> Canal no Youtube</h2>
               <p>Estamos também no <a href="">Youtube</a> para ofecer nossos tutoriais e cursos também em vídeo! ;)</p>
       </div>

   </div><!-- Centre -->

</section>
	
	<footer id="baixo">

<section class="alignleft">
<ul>
<h3>Links úteis</h3>
<li><a href="https://envolte.github.io/">Home Page</a></li>
<li><a href="https://envolte.github.io/about.html">Sobre</a></li>
<li><a href="https://envolte.github.io/contato.html">Contato</a></li>
</ul>
</section>

<section class="alignright">
<ul>
<h3>Ajuda</h3>
<li><a href="https://envolte.github.io/cursos.html">Cursos</a></li>
<li><a href="https://envolte.github.io/Curso-HTML-CSS.html">Curso de HTML & CSS</a></li>
<li><a href="https://envolte.github.io/Curso-PHP.html">Curso de PHP</a></li>
</ul>
</section>

</footer>
	
	
	
    <footer class="site-footer clearfix">
      <section class="copyright">
        <a href="{{ site.baseurl }}">{{ site.name }}</a> &copy; 
              {{"now" | date: "%Y"}} &bull; Todos os direitos reservados.
      </section>
      <section class="poweredby">Feito com <img src="https://media.giphy.com/media/gZZVlfpdFJEcM/giphy.gif" width="18" style="margin-bottom: -4px;" /> em <b>Jekyll</b>. ;)
      </section>
    </footer>
    
    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>

    <script type="text/javascript" src="/assets/js/jquery.collapse.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.collapse_storage.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.collapse_cookie_storage.js"></script>

    <!-- Google Analytics Tracking code -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>   
</body>
</html>
